---
nooku.dev: # required
  dir: ~/Workspace/nooku-framework
  sql:
    nooku: [ install/mysql/schema.sql, install/mysql/data.sql, install/mysql/sample.sql ]
  less:
    application/admin/public/theme/bootstrap/less: application/admin/public/theme/bootstrap/css
    application/site/public/theme/bootstrap/less: application/site/public/theme/bootstrap/css

custom.dev:
  dir: ~/Workspace/custom-project
  sql:
    custom:
      - install/mysql/schema.sql
      - install/mysql/data.sql
      - install/mysql/sample.sql
      - application/admin/custom/resource/install/schema.sql
  less:
      application/site/public/theme/bootstrap/less: application/site/public/theme/bootstrap/css