---
nooku.dev: # required
  dir: ~/Workspace/nooku-framework
  sql:
    nooku: [ install/mysql/schema.sql, install/mysql/data.sql, install/mysql/sample.sql ]

custom.dev:
  dir: ~/Workspace/custom-project
  sql:
    custom:
      - install/mysql/schema.sql
      - install/mysql/data.sql
      - install/mysql/sample.sql
      - application/admin/custom/resource/install/schema.sql